:root {
  --main-font: "Montserrat", sans-serif;
  --dark-color: #263243;
  --light-color: #ffffff;
  --gray-color: #636b79;
  --sky-color: #3871ff;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--main-font);
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
